<script type="text/javascript" src="http://news.sohu.com/upload/ky/resloader.js"></script>
<div class="start-screen">

  <div class="loading">
    <div class="loading__element el1">H</div>
    <div class="loading__element el2">E</div>
    <div class="loading__element el3">L</div>
    <div class="loading__element el4">L</div>
    <div class="loading__element el5">O</div>
  </div>
  
    <div class="loading">
    <div class="loading__element el1">L</div>
    <div class="loading__element el2">E</div>
    <div class="loading__element el3">A</div>
    <div class="loading__element el4">D</div>
    <div class="loading__element el5">E</div>
    <div class="loading__element el6">R</div>
  </div>
  
</div>

<script>
    setTimeout(function(){
        document.querySelector(".start-screen").style.display = "none";
    },1000);
</script>